<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>Real Time UI</title>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
  </head>

  <body>
    <form action="">
      <input type="radio" name="radio-control" value="1" />Option 1<br />
      <input type="radio" name="radio-control" value="2" />Option 2<br />
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/socketio/socket.io.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/realtime_ui.js"></script>
  </body>
</html>
